@charset "UTF-8";
/* 
 * -----------------------------------------------------------------
 * Foundation
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * Base Color
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * button Color
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * Font Color
 * -----------------------------------------------------------------
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0;
  vertical-align: middle; }

/*form部品ブラウザごとのスタイルリセット*/
input,
select,
button,
textarea {
  outline: none;
  border: none;
  background: #fff;
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

/*
  Link style
*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:hover {
  text-decoration: none; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input,
textarea,
select {
  *font-size: 100%; }

legend {
  color: #000; }

a {
  text-decoration: none; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

html {
  color: #333;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  html::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  html::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  html::-webkit-scrollbar-thumb {
    background: #666666;
    border: 1px inset #000000;
    border-radius: 0; }
  html::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  html::-webkit-scrollbar-thumb:active {
    background: #333333; }
  html::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 0; }
  html::-webkit-scrollbar-track:hover {
    background: #000000; }
  html::-webkit-scrollbar-track:active {
    background: #000000; }
  html::-webkit-scrollbar-corner {
    background: transparent; }
  html input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #222 inset; }

body {
  font-family: Avenir,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans","ヒラギノ角ゴシック",YuGothic,"Yu Gothic","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic";
  line-height: 1.6;
  font-size: 14px;
  font-size: 1.4rem; }
  @media only screen and (orientation: landscape) {
    body {
      -webkit-text-size-adjust: 100%; } }

.isFixed {
  width: 100%;
  height: 100%;
  position: fixed; }

.isNowrap {
  display: block;
  white-space: nowrap; }

.isHidden {
  display: none !important; }

.isShow {
  display: block !important; }

.isAutoHeight {
  height: auto !important; }

.isHiddenScrollY {
  overflow-y: hidden !important; }

.isAutoScrollY {
  overflow-y: auto; }
  .isAutoScrollY::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .isAutoScrollY::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  .isAutoScrollY::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px inset #000000;
    border-radius: 50px; }
  .isAutoScrollY::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  .isAutoScrollY::-webkit-scrollbar-thumb:active {
    background: #333333; }
  .isAutoScrollY::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px; }
  .isAutoScrollY::-webkit-scrollbar-track:hover {
    background: #000000; }
  .isAutoScrollY::-webkit-scrollbar-track:active {
    background: #000000; }
  .isAutoScrollY::-webkit-scrollbar-corner {
    background: transparent; }

.x-scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden; }
  .x-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .x-scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  .x-scroll::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px inset #000000;
    border-radius: 50px; }
  .x-scroll::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  .x-scroll::-webkit-scrollbar-thumb:active {
    background: #333333; }
  .x-scroll::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px; }
  .x-scroll::-webkit-scrollbar-track:hover {
    background: #000000; }
  .x-scroll::-webkit-scrollbar-track:active {
    background: #000000; }
  .x-scroll::-webkit-scrollbar-corner {
    background: transparent; }

.y-scroll {
  white-space: normal;
  overflow-x: hidden;
  overflow-y: scroll; }
  .y-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .y-scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  .y-scroll::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px inset #000000;
    border-radius: 50px; }
  .y-scroll::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  .y-scroll::-webkit-scrollbar-thumb:active {
    background: #333333; }
  .y-scroll::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px; }
  .y-scroll::-webkit-scrollbar-track:hover {
    background: #000000; }
  .y-scroll::-webkit-scrollbar-track:active {
    background: #000000; }
  .y-scroll::-webkit-scrollbar-corner {
    background: transparent; }

input[type=submit] {
  -webkit-appearance: none; }

@media all and (max-width: 767px) {
  .m-sp {
    display: block !important; }

  .m-pc {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  .m-tb {
    display: block !important; }

  .m-pc {
    display: none !important; } }
@media (min-width: 993px) {
  .m-sp {
    display: none !important; }

  .m-tb {
    display: none !important; }

  .m-pc {
    display: block !important; } }
.img_responsive {
  width: 100%;
  height: auto;
  display: block; }

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 1200px) {
  .content {
    padding: 0 15px; } }
.text_overflow {
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis; }

/*
 * -----------------------------------------------------------------
 * Utility
 * -----------------------------------------------------------------
 */
.u-posS {
  position: static; }

.u-posR {
  position: relative; }

.u-posA {
  position: absolute; }

.u-posF {
  position: fixed; }

@font-face {
  font-family: 'icomoon';
  src: url("./icomoon.eot?ahpe79");
  src: url("./icomoon.eot?ahpe79#iefix") format("embedded-opentype"), url("./icomoon.ttf?ahpe79") format("truetype"), url("./icomoon.woff?ahpe79") format("woff"), url("./icomoon.svg?ahpe79#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 32px;
  /* Better Font Rendering =========== */ }

.icon-icon_favorite {
  display: block;
  padding: 0 0.1em; }
  .icon-icon_favorite:before {
    content: "\e901";
    color: #ffc511; }

.icon-icon_share {
  display: block;
  padding: 0 0.1em; }
  .icon-icon_share:before {
    content: "\e904";
    color: #ffc511; }

.icon-icon_like {
  display: block;
  padding: 0 0.1em; }
  .icon-icon_like:before {
    content: "\e902";
    color: #ffc511; }

.selected .icon-icon_favorite:before {
  content: "\e900";
  color: #ff4c11; }
.selected .icon-icon_like:before {
  content: "\e903";
  color: #ff4c11; }

.u-ffHKS {
  font-family: "ヒラギノ角ゴ Std W8","Hiragino Kaku Gothic Std", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

.circular {
  font-family: Circular Std,sans-serif; }

/*
 * -----------------------------------------------------------------
 * Layout
 * -----------------------------------------------------------------
 */
body {
  overflow-x: hidden;
  font-family: 'Neue Helvetica W01', 'AXIS Font Japanese W55', 'Helvetica Neue', sans-serif; }

.menu_open {
  overflow: hidden !important; }

.l-header .l-header__nav .l-header__nav__menu {
  padding-bottom: 15px;
  position: fixed;
  top: 0;
  background: #fff;
  display: block;
  width: 100%;
  z-index: 300;
  box-shadow: 3px 3px 2px 0.5px rgba(0, 0, 0, 0.1); }
  .l-header .l-header__nav .l-header__nav__menu .l-header__nav__logo__wrapper {
    margin: 15px 0 0 20px;
    display: inline-block; }
    .l-header .l-header__nav .l-header__nav__menu .l-header__nav__logo__wrapper .nav__logo {
      font-size: 20px;
      font-size: 2rem;
      font-weight: bold;
      color: #000; }
  .l-header .l-header__nav .l-header__nav__menu .l-header__nav__menu__wrapper {
    float: right; }
    @media (max-width: 980px) {
      .l-header .l-header__nav .l-header__nav__menu .l-header__nav__menu__wrapper {
        display: none; } }
    .l-header .l-header__nav .l-header__nav__menu .l-header__nav__menu__wrapper ul {
      display: flex;
      margin: 20px 50px 0 0; }
      .l-header .l-header__nav .l-header__nav__menu .l-header__nav__menu__wrapper ul li a {
        cursor: pointer;
        display: inline-block;
        text-align: center;
        font-size: 14px;
        font-size: 1.4rem;
        font-weight: bold;
        padding: 0 30px;
        position: relative;
        /*
        &:after{
          content: '';
          width: 1px;
          height: 19px;
          position: absolute;
          top: 0;
          right: 0;
          background: #ccc;
        }
        */ }
        .l-header .l-header__nav .l-header__nav__menu .l-header__nav__menu__wrapper ul li a:hover {
          opacity: 0.6;
          transition: 0.1s;
          color: #25649f; }
  .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button {
    float: right;
    display: none;
    padding-top: 17px;
    padding-right: 20px; }
    @media (max-width: 980px) {
      .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button {
        display: block; } }
    .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button ul {
      position: relative;
      width: 30px;
      height: 25px;
      cursor: pointer;
      -o-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out;
      -webkit-transition: all 0.1s ease-out; }
      .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button ul li:nth-child(1) {
        width: 100%;
        height: 3px;
        top: 1;
        background-color: #000;
        position: absolute;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out; }
      .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button ul li:nth-child(2) {
        width: 100%;
        height: 3px;
        top: 11px;
        background-color: #000;
        position: absolute;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out; }
      .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button ul li:nth-child(3) {
        width: 100%;
        height: 3px;
        top: 23px;
        background-color: #000;
        position: absolute;
        -o-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
        -webkit-transition: all 0.1s ease-out; }
  .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button.open ul {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transition: all 0.1s ease-out; }
    .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button.open ul li:nth-child(1) {
      top: 50%; }
    .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button.open ul li:nth-child(2) {
      top: 50%; }
    .l-header .l-header__nav .l-header__nav__menu .l-header__nav__hambugermenu__button.open ul li:nth-child(3) {
      top: 50%;
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg); }
.l-header .l-header__nav .l-header__nav__hambugermenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 250;
  background-color: #fff; }
  .l-header .l-header__nav .l-header__nav__hambugermenu p {
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    width: 100%;
    text-align: center; }
  .l-header .l-header__nav .l-header__nav__hambugermenu ul {
    padding: 0 20px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%; }
    .l-header .l-header__nav .l-header__nav__hambugermenu ul li {
      font-size: 25px;
      text-align: center;
      font-weight: bold;
      margin-bottom: 20px;
      width: 250px; }
      @media (max-width: 400px) {
        .l-header .l-header__nav .l-header__nav__hambugermenu ul li {
          font-size: 7vw;
          margin-bottom: 15px; } }
      .l-header .l-header__nav .l-header__nav__hambugermenu ul li a {
        padding: 0 30px;
        display: block;
        border-bottom: 1px solid #eee; }
        .l-header .l-header__nav .l-header__nav__hambugermenu ul li a:hover {
          opacity: 0.6;
          transition: 0.1s;
          color: #25649f; }
    .l-header .l-header__nav .l-header__nav__hambugermenu ul li:last-child {
      margin-bottom: 0 !important; }
      .l-header .l-header__nav .l-header__nav__hambugermenu ul li:last-child a {
        border: 3px solid #000;
        margin-top: 30px; }
.l-header .l-header__main .l-header__main__background {
  position: relative; }
  .l-header .l-header__main .l-header__main__background .l-header__main__background__text {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: #fff;
    width: 100%;
    text-align: center;
    z-index: 100000;
    display: none; }
    .l-header .l-header__main .l-header__main__background .l-header__main__background__text p:nth-child(1) {
      font-size: 1.2vw; }
    .l-header .l-header__main .l-header__main__background .l-header__main__background__text p:nth-child(2) {
      font-size: 2.0vw;
      font-weight: bold; }
    @media (max-width: 980px) {
      .l-header .l-header__main .l-header__main__background .l-header__main__background__text p:nth-child(1) {
        font-size: 3vw; }
      .l-header .l-header__main .l-header__main__background .l-header__main__background__text p:nth-child(2) {
        font-size: 4vw;
        font-weight: bold; } }
    @media (max-width: 500px) {
      .l-header .l-header__main .l-header__main__background .l-header__main__background__text p:nth-child(1) {
        font-size: 4.5vw; }
      .l-header .l-header__main .l-header__main__background .l-header__main__background__text p:nth-child(2) {
        font-size: 6vw;
        font-weight: bold; } }
  .l-header .l-header__main .l-header__main__background .l-header__main__scroll__wrapper {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 95px;
    z-index: 200; }
    @media (max-width: 980px) {
      .l-header .l-header__main .l-header__main__background .l-header__main__scroll__wrapper {
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        bottom: 50px; } }
    .l-header .l-header__main .l-header__main__background .l-header__main__scroll__wrapper .l-header__main__scroll {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      width: 100px; }
      .l-header .l-header__main .l-header__main__background .l-header__main__scroll__wrapper .l-header__main__scroll .l-header__main__scrollTxt {
        margin-right: .57143vw;
        color: #000;
        font-size: 10px;
        font-size: 1rem;
        letter-spacing: .1em; }
      .l-header .l-header__main .l-header__main__background .l-header__main__scroll__wrapper .l-header__main__scroll .l-header__main__scrollLine {
        position: relative;
        width: 60px;
        height: 1px;
        background: #000; }
        .l-header .l-header__main .l-header__main__background .l-header__main__scroll__wrapper .l-header__main__scroll .l-header__main__scrollLine::after {
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: #000;
          display: block;
          padding: 3px;
          position: absolute;
          top: -2.75px;
          left: 50%;
          transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          -webkit-animation: scroll 1.5s linear infinite;
          animation: scroll 1.5s linear infinite;
          content: ''; }
  .l-header .l-header__main .l-header__main__background .l-header__main__background__slick .l-header__main__background__img {
    width: 100%;
    height: 100vh;
    position: relative; }
  .l-header .l-header__main .l-header__main__background .l-header__main__background__slick .l-header__main__background__img__01 {
    background: url("../images/main.jpg") fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; }
  .l-header .l-header__main .l-header__main__background .l-header__main__background__slick .l-header__main__background__img__02 {
    background: url("../images/section_project_img_05.jpg") fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; }
  .l-header .l-header__main .l-header__main__background .l-header__main__background__slick .l-header__main__background__img__03 {
    background: url("../images/section_project_img_03.jpg") fixed;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat; }
.l-header .l-header__main .l-header__main__contents .l-header__main__side-menu {
  position: absolute;
  right: -550px;
  top: 0;
  width: 30vw;
  max-width: 450px;
  height: 100%;
  transition: 0.5s;
  background: #fff; }
  @media (max-width: 980px) {
    .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu {
      display: none; } }
  .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__title {
    display: none;
    color: #000;
    font-size: 40px;
    position: absolute;
    top: 12%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%; }
    .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__title p:nth-child(1) {
      font-size: 1.3vw; }
    .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__title p:nth-child(2) {
      font-size: 2.3vw;
      font-weight: bold; }
    .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__title p:nth-child(3) {
      font-size: 0.8vw;
      color: #909090;
      margin-top: 20px; }
  .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__img {
    display: none;
    width: 30vw;
    position: absolute;
    bottom: 2vw;
    right: 100px;
    text-align: center; }
    @media (max-width: 1200px) {
      .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__img {
        width: 40vw;
        bottom: 4vw; } }
    .l-header .l-header__main .l-header__main__contents .l-header__main__side-menu .l-header__main__img img {
      width: 100%;
      max-width: 350px;
      box-shadow: 0 3px 20px -2px rgba(25, 25, 25, 0.3); }
.l-header .l-header__main .l-header__main__contents .l-header__main__side-menu_open {
  right: 0; }
.l-header .l-header__main .l-header__main__contents .l-header__intro .intro, .l-header .l-header__main .l-header__main__contents .l-header__intro .transition {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #161616;
  z-index: 1000;
  visibility: hidden; }
.l-header .l-header__main .l-header__main__contents .l-header__intro .intro {
  background: transparent;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  transition: opacity .8s ease-in-out .4s;
  -webkit-perspective: 100px;
  perspective: 100px; }
.l-header .l-header__main .l-header__main__contents .l-header__intro .transition {
  -webkit-transform: translateX(calc(-100% - 57.74vh)) skewX(30deg);
  transform: translateX(calc(-100% - 57.74vh)) skewX(30deg);
  transition: background .8s ease-in-out; }
.l-header .l-header__main .display-intro .transition {
  visibility: visible !important;
  -webkit-transform: translateX(-57.74vh) skewX(-30deg) !important;
  transform: translateX(-57.74vh) skewX(-30deg) !important;
  width: calc(100% + 57.74vh + 57.74vh) !important; }
.l-header .l-header__main .display-intro .intro {
  visibility: visible;
  opacity: 1; }
.l-header .l-header__main .ie.display-intro .transition {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  width: 100%; }
.l-header .l-header__main .display-loaded .transition {
  -webkit-transform: translateX(-100%) skewX(0) !important;
  transform: translateX(-100%) skewX(0) !important;
  transition: all 0.8s ease-in-out !important; }
.l-header .l-header__main .ie.display-loaded .transition {
  transform: translateX(-100%) skewX(0);
  transition: all 0.8s ease-in-out; }
.l-header .l-header__main .ie .transition {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

@-webkit-keyframes scroll {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
@keyframes scroll {
  0% {
    left: 0; }
  100% {
    left: 100%; } }
.l-footer {
  background: #000;
  width: 100%; }
  .l-footer .l-footer__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px; }
    .l-footer .l-footer__wrapper .l-footer__text_box p:nth-child(1) {
      color: #fff;
      font-size: 12px;
      font-size: 1.2rem;
      padding-bottom: 5px;
      padding-top: 5px;
      text-align: center;
      letter-spacing: 1.5px; }

/*
 * -----------------------------------------------------------------
 * Project
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * Component
 * -----------------------------------------------------------------
 */
.c-gnb {
  width: 100%; }

.c-title {
  font-size: 26px;
  font-size: 2.6rem;
  font-weight: bold;
  text-align: left;
  color: #010101;
  width: 100%;
  position: relative; }
  .c-title .en {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 10px;
    color: #fad434; }

.c-subpage_title {
  width: 100%;
  font-size: 32px;
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
  color: #010101;
  width: 100%;
  position: relative;
  letter-spacing: 2px;
  font-family: 'Josefin Sans', sans-serif; }
  .c-subpage_title .sub_title {
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 10px;
    color: #fad434;
    display: block; }

.c-newsitem__btn {
  max-width: 250px;
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
  font-size: 1.4rem;
  color: #222;
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
  border: 1px solid #ccc; }
  .c-newsitem__btn:hover {
    color: #fff; }
    .c-newsitem__btn:hover:after {
      transform: scaleX(1); }
    .c-newsitem__btn:hover span:before {
      background: #fff; }
    .c-newsitem__btn:hover span:after {
      border-top: 2px solid #fff;
      border-right: 2px solid #fff; }
  .c-newsitem__btn:after {
    width: 100%;
    height: 100%;
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #990021;
    transition: all 750ms 0s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform: scaleX(0); }
  .c-newsitem__btn span {
    z-index: 2;
    position: relative;
    display: block;
    letter-spacing: .08em; }
    .c-newsitem__btn span:before, .c-newsitem__btn span:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 20px;
      margin: auto;
      vertical-align: middle;
      transition: all 950ms 0s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .c-newsitem__btn span:before {
      width: 14px;
      height: 2px;
      background: #9a0022; }
    .c-newsitem__btn span:after {
      width: 8px;
      height: 8px;
      border-top: 2px solid #9a0022;
      border-right: 2px solid #9a0022;
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg); }

.c-submenu_btn {
  width: 100%;
  padding: 0 0 30px 0;
  display: flex; }
  .c-submenu_btn .btn_items {
    padding: 20px 0;
    width: 50%;
    margin: 0 10px;
    display: block;
    flex-grow: 1;
    text-align: center;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: bold;
    color: #ccc;
    background: #fff;
    border: 1px solid #ccc;
    position: relative; }
    .c-submenu_btn .btn_items::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: #9a0022;
      z-index: -1;
      transition: all 0.3s ease; }
    .c-submenu_btn .btn_items:hover {
      border: 1px solid #9a0022;
      color: #9a0022;
      transition: all 0.3s ease; }
      .c-submenu_btn .btn_items:hover::after {
        top: 3px;
        left: 3px;
        transition: all 0.3s ease; }
  .c-submenu_btn .active {
    border: 1px solid #9a0022;
    color: #9a0022;
    transition: all 0.3s ease; }
    .c-submenu_btn .active::after {
      top: 3px;
      left: 3px;
      transition: all 0.3s ease; }

.c-snsbtn {
  display: flex; }
  .c-snsbtn .items {
    margin-right: 3px; }
    .c-snsbtn .items a {
      display: block;
      text-align: center;
      padding: 0 10px;
      color: #fff;
      border: 1px solid #fff; }
      @media screen and (max-width: 768px) {
        .c-snsbtn .items a {
          font-size: 12px;
          font-size: 1.2rem;
          font-weight: bold; } }
      .c-snsbtn .items a i {
        padding-right: 5px; }

/*# sourceMappingURL=style.css.map */
