@charset "UTF-8";
/*
 * -----------------------------------------------------------------
 * Foundation
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * Base Color
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * button Color
 * -----------------------------------------------------------------
 */
/*
 * -----------------------------------------------------------------
 * Font Color
 * -----------------------------------------------------------------
 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset,
img {
  border: 0;
  vertical-align: middle; }

/*form部品ブラウザごとのスタイルリセット*/
input,
select,
button,
textarea {
  outline: none;
  border: none;
  background: #fff;
  outline: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

/*
  Link style
*/
a {
  color: #333;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

a:hover {
  text-decoration: none; }

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal; }

ol,
ul {
  list-style: none; }

caption,
th {
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

q:before,
q:after {
  content: ''; }

abbr,
acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input,
textarea,
select {
  *font-size: 100%; }

legend {
  color: #000; }

a {
  text-decoration: none; }

article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block; }

html {
  color: #333;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  html *,
  html *:before,
  html *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit; }
  html::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  html::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  html::-webkit-scrollbar-thumb {
    background: #666666;
    border: 1px inset #000000;
    border-radius: 0; }
  html::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  html::-webkit-scrollbar-thumb:active {
    background: #333333; }
  html::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 0; }
  html::-webkit-scrollbar-track:hover {
    background: #000000; }
  html::-webkit-scrollbar-track:active {
    background: #000000; }
  html::-webkit-scrollbar-corner {
    background: transparent; }
  html input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #222 inset; }

body {
  font-family: Avenir,"Helvetica Neue",Helvetica,Arial,"Hiragino Sans","ヒラギノ角ゴシック",YuGothic,"Yu Gothic","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic";
  line-height: 1.6;
  font-size: 14px;
  font-size: 1.4rem; }
  @media only screen and (orientation: landscape) {
    body {
      -webkit-text-size-adjust: 100%; } }

.isFixed {
  width: 100%;
  height: 100%;
  position: fixed; }

.isNowrap {
  display: block;
  white-space: nowrap; }

.isHidden {
  display: none !important; }

.isShow {
  display: block !important; }

.isAutoHeight {
  height: auto !important; }

.isHiddenScrollY {
  overflow-y: hidden !important; }

.isAutoScrollY {
  overflow-y: auto; }
  .isAutoScrollY::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .isAutoScrollY::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  .isAutoScrollY::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px inset #000000;
    border-radius: 50px; }
  .isAutoScrollY::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  .isAutoScrollY::-webkit-scrollbar-thumb:active {
    background: #333333; }
  .isAutoScrollY::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px; }
  .isAutoScrollY::-webkit-scrollbar-track:hover {
    background: #000000; }
  .isAutoScrollY::-webkit-scrollbar-track:active {
    background: #000000; }
  .isAutoScrollY::-webkit-scrollbar-corner {
    background: transparent; }

.x-scroll {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden; }
  .x-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .x-scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  .x-scroll::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px inset #000000;
    border-radius: 50px; }
  .x-scroll::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  .x-scroll::-webkit-scrollbar-thumb:active {
    background: #333333; }
  .x-scroll::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px; }
  .x-scroll::-webkit-scrollbar-track:hover {
    background: #000000; }
  .x-scroll::-webkit-scrollbar-track:active {
    background: #000000; }
  .x-scroll::-webkit-scrollbar-corner {
    background: transparent; }

.y-scroll {
  white-space: normal;
  overflow-x: hidden;
  overflow-y: scroll; }
  .y-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .y-scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px; }
  .y-scroll::-webkit-scrollbar-thumb {
    background: #333333;
    border: 1px inset #000000;
    border-radius: 50px; }
  .y-scroll::-webkit-scrollbar-thumb:hover {
    background: #333333; }
  .y-scroll::-webkit-scrollbar-thumb:active {
    background: #333333; }
  .y-scroll::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px; }
  .y-scroll::-webkit-scrollbar-track:hover {
    background: #000000; }
  .y-scroll::-webkit-scrollbar-track:active {
    background: #000000; }
  .y-scroll::-webkit-scrollbar-corner {
    background: transparent; }

input[type=submit] {
  -webkit-appearance: none; }

@media all and (max-width: 767px) {
  .m-sp {
    display: block !important; }

  .m-pc {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 992px) {
  .m-tb {
    display: block !important; }

  .m-pc {
    display: none !important; } }
@media (min-width: 993px) {
  .m-sp {
    display: none !important; }

  .m-tb {
    display: none !important; }

  .m-pc {
    display: block !important; } }
.img_responsive {
  width: 100%;
  height: auto;
  display: block; }

.content {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

@media screen and (max-width: 1200px) {
  .content {
    padding: 0 15px; } }
.text_overflow {
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis; }

/*
 * -----------------------------------------------------------------
 * Utility
 * -----------------------------------------------------------------
 */
.u-posS {
  position: static; }

.u-posR {
  position: relative; }

.u-posA {
  position: absolute; }

.u-posF {
  position: fixed; }

@font-face {
  font-family: 'icomoon';
  src: url("./icomoon.eot?ahpe79");
  src: url("./icomoon.eot?ahpe79#iefix") format("embedded-opentype"), url("./icomoon.ttf?ahpe79") format("truetype"), url("./icomoon.woff?ahpe79") format("woff"), url("./icomoon.svg?ahpe79#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-size: 32px;
  /* Better Font Rendering =========== */ }

.icon-icon_favorite {
  display: block;
  padding: 0 0.1em; }
  .icon-icon_favorite:before {
    content: "\e901";
    color: #ffc511; }

.icon-icon_share {
  display: block;
  padding: 0 0.1em; }
  .icon-icon_share:before {
    content: "\e904";
    color: #ffc511; }

.icon-icon_like {
  display: block;
  padding: 0 0.1em; }
  .icon-icon_like:before {
    content: "\e902";
    color: #ffc511; }

.selected .icon-icon_favorite:before {
  content: "\e900";
  color: #ff4c11; }
.selected .icon-icon_like:before {
  content: "\e903";
  color: #ff4c11; }

.u-ffHKS {
  font-family: "ヒラギノ角ゴ Std W8","Hiragino Kaku Gothic Std", 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; }

.circular {
  font-family: Circular Std,sans-serif; }

/*
 * -----------------------------------------------------------------
 * Layout
 * -----------------------------------------------------------------
 */
body {
  overflow-x: hidden;
  font-family: 'Neue Helvetica W01', 'AXIS Font Japanese W55', 'Helvetica Neue', sans-serif; }

/*
 * -----------------------------------------------------------------
 * Project
 * -----------------------------------------------------------------
 */

/*# sourceMappingURL=style.css.map */
