.l-main {
  width: 100%;
  overflow: hidden;
  @media (max-width: 1024px) {
    width: 100%;
  }
  .l-main__content {
    width: 100%;
    margin: 0 auto;
    .l-main__mv {
      width: 100%;
      height: 100vh;
      @media (max-width: 767px) {
        height: 140vw;
      }
      .l-main__mv__contents {
        position: relative;
      }
      .l-main__mv__slider-wrap {
        width: 100%;
        position: relative;
        z-index: 1;
        .l-main__mv__slider {
          width: 100%;
          .l-main__mv__slider__item {
            width: 100%;
            height: 100vh;
            @media (max-width: 767px) {
              height: 140vw;
            }
            video {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 1920px;
              &.video_pc {
                display: block;
              }
              &.video_sp {
                display: none;
              }
              @media (max-width: 767px) {
                &.video_sp {
                  display: block;
                }
                &.video_pc {
                  display: none;
                }
              }
            }
            &.gray {
              video {
                filter: grayscale(0.6);
              }
            }
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              font-family: 'object-fit: cover;' !important;
            }
          }
        }
      }
      .l-main__mv__sp-text {
        position: absolute;
        top: 85vw;
        width: 100%;
        text-align: center;
        display: none;
        z-index: 5;
        @media (max-width: 767px) {
          display: block;
        }
        .l-main__mv__sp-text__title {
          width: 100%;
          font-size: 9vw;
          font-weight: bold;
          line-height: 9vw;
          color: #fff;
          margin-bottom: 4vw;
          position: absolute;
          bottom: 4vw;
          left: 0;
          transition: 1.2s;
          transition-timing-function: ease-in;
          opacity: 0;
          &.first-current {
            opacity: 1;
            transition-timing-function: ease-out !important;
            transition-delay: 0.5s !important;
          }
          &.current {
            transition-timing-function: ease-out !important;
            opacity: 1;
            transition-delay: 1.7s !important;
          }
        }
        .l-main__mv__sp-text__sub-title {
          width: 100%;
          font-size: 4vw;
          font-weight: bold;
          line-height: 4vw;
          color: #fff;
          margin-top: 4vw;
        }
      }
      .l-main__mv__position {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        @media (max-width: 767px) {
          height: 50vw;
          top: 22vw;
        }
        .l-main__mv__position__list-wrap {
          position: relative;
          width: 100%;
          height: 50vh;
          overflow: hidden;
          @media (max-width: 767px) {
            height: 50%;
          }
          &:nth-child(1) {
            position: relative;
            &:after {
              content: '';
              width: 100%;
              height: 1px;
              position: absolute;
              right: 0;
              bottom: 0;
              background: #fff;
              opacity: 0.3;
              z-index: 3;
              @media (max-width: 767px) {
                display: none;
              }
            }
          }
        }
        .l-main__mv__position__list__text-top {
          position: absolute;
          bottom: 10px;
          left: 12%;
          p {
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 1.2s;
            transition-timing-function: ease-in;
            transform: translateY(101%);
            &.first-current {
              transform: translateY(0) !important;
              transition-timing-function: ease-out !important;
              transition-delay: 2s !important;
            }
            &.current {
              transform: translateY(0) !important;
              transition-timing-function: ease-out !important;
              transition-delay: 1.7s !important;
            }
          }
          @media (max-width: 1024px) {
            left: 5%;
          }
          @media (max-width: 767px) {
            display: none !important;
          }
          p {
            font-size: 6.4vw;
            line-height: 6.4vw;
            color: #fff;
            font-weight: bold;
            @media (max-width: 1024px) {
              font-size: 7.4vw;
              line-height: 7.4vw;
            }
            @media (max-width: 767px) {
              font-size: 9vw;
              line-height: 9vw;
            }
          }
        }
        .l-main__mv__position__list__text-bottom {
          position: absolute;
          top: 10px;
          left: 12.5%;
          @media (max-width: 1024px) {
            left: 5%;
          }
          @media (max-width: 767px) {
            display: none;
          }
          p {
            font-size: 1.5vw;
            line-height: 2vw;
            color: #fff;
            font-weight: bold;
            @media (max-width: 1024px) {
              font-size: 2vw;
              line-height: 3vw;
            }
            @media (max-width: 767px) {
              font-size: 2.5vw;
              line-height: 4vw;
            }
            span {
              font-size: 0.8vw;
              line-height: 1.2vw;
              color: #fff;
              font-weight: 300;
              display: block;
              @media (max-width: 1024px) {
                font-size: 1vw;
                line-height: 1vw;
              }
              @media (max-width: 767px) {
                font-size: 1vw;
                line-height: 1.5vw;
              }
            }
          }
        }
        .l-main__mv__position__list {
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          width: 100%;
          height: 100%;
          .l-main__mv__position__list__item {
            width: 12.5%;
            height: 100%;
            position: relative;
            overflow: hidden;
            &:after {
              content: '';
              width: 1px;
              height: 100%;
              position: absolute;
              right: 0;
              top: 0;
              background: #fff;
              opacity: 0.3;
              z-index: 3;
            }
            &:last-child {
              &:after {
                display: none;
              }
            }
            @media (max-width: 1024px) {
              width: 16.6666%;
              &:nth-child(1) {
                display: none;
              }
              &:nth-child(8) {
                display: none;
              }
              &:nth-child(7) {
                &:after {
                  display: none;
                }
              }
            }
            @media (max-width: 767px) {
              width: 50%;
              &:after {
                display: none;
              }
              &:nth-child(2) {
                display: none;
              }
              &:nth-child(3) {
                display: none;
              }
              &:nth-child(4) {
                display: none;
              }
              &:nth-child(5) {
                display: none;
              }
            }
            .l-main__mv__position__list__item__logo {
              z-index: 4;
              transition: 1.2s;
              position: absolute;
              width: 60%;
              height: 100%;
              @media (max-width: 1300px) {
                width: 80%;
              }
              @media (max-width: 1024px) {
                width: 70%;
              }
              @media (max-width: 767px) {
                width: 45%;
              }
              .l-main__mv__position__list__item__logo-item {
                transition: 1.2s;
                transition-timing-function: ease-in;
                position: absolute;
                &.first-current {
                  transform: translateY(0) !important;
                  transition-timing-function: ease-out !important;
                  transition-delay: 0.5s !important;
                }
              }
            }
            .l-main__mv__position__list__item__logo.first {
              right: 0;
              .l-main__mv__position__list__item__logo-item {
                transform: translateY(101%);
                right: 0;
                bottom: 0;
                &.current {
                  transform: translateY(0);
                  transition-timing-function: ease-out;
                  transition-delay: 1.7s;
                }
              }
            }
            .l-main__mv__position__list__item__logo.second {
              left: 0;
              .l-main__mv__position__list__item__logo-item {
                transform: translateX(-101%);
                right: 0;
                bottom: 0;
                &.current {
                  transform: translateX(0);
                  transition-timing-function: ease-out;
                  transition-delay: 1.7s;
                }
              }
            }
            .l-main__mv__position__list__item__logo.third {
              right: 0;
              .l-main__mv__position__list__item__logo-item {
                transform: translateX(101%);
                right: 0;
                top: 0;
                &.current {
                  transform: translateX(0);
                  transition-timing-function: ease-out;
                  transition-delay: 1.7s;
                }
              }
            }
            .l-main__mv__position__list__item__logo.fourth {
              left: 0;
              .l-main__mv__position__list__item__logo-item {
                transform: translateY(-101%);
                left: 0;
                top: 0;
                &.current {
                  transform: translateY(0);
                  transition-timing-function: ease-out;
                  transition-delay: 1.7s;
                }
              }
            }
          }
        }
      }
    }
  }
}
